@import "variables";

nav {
  .custom-logo {
    font-family: $font-decorative;
    font-weight: 500;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    color: var(--text-white);
    margin: 0;
    padding: 0;

    span {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 0.3rem;
      border-radius: 5px;
      background-color: var(--accent-custom);
      font-size: 1.7rem;
    }
  }

  li {
    margin-left: 2rem;
  }
}
