@import "variables";
@import "utilities";

/*ABOUT-ME BG*/

.bg-photo {
  @include lg {
    background-image: url("../../assets/images/photo.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 5% 40%;
  }
}

/* HERO TEXT */

.about-me-text-container {
  min-height: calc(100vh - 58px);

  .hero-text {
    padding: 3rem 1rem;
    margin: 3rem 0 0 0;
    background-color: var(--bg-custom);
    position: relative;

    @include md {
      padding: 3rem 2rem;
    }

    @include lg {
      align-self: center;
      padding: 4rem 3rem 4rem 0;
      margin: 0;
      border-radius: 0% 100% 100% 0%;
      background-color: var(--bg-custom);
      background: linear-gradient(
        to left,
        var(--bg-custom),
        rgba(39, 39, 39, 0.3) 5%,
        rgba(0, 0, 0, 0) 96%
      );

      transition: all 0.6s linear;
    }

    &:hover {
      @include lg {
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
          rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
          rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
          rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
          rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
          rgba(0, 0, 0, 0.09) 0px 32px 16px;

        animation: hero-text-gradient 0.2s ease-in-out 0.1s forwards;

        h1 > .underline-anim {
          animation: h1-underline-growth 0.2s linear forwards;
        }
      }
    }
  }

  h1 {
    display: inline-block;
    color: var(--text-white);
    margin-bottom: 2rem;
    position: relative;
    text-align: center;

    @include lg {
      text-align: left;
    }
  }

  p {
    word-break: keep-all;
    text-align: justify;
    font-weight: 300;
    color: var(--text-custom);
    line-height: 3rem;

    strong {
      color: var(--accent-custom);
    }
  }
}

/*ANIMATIONS ON HERO-TEXT HOVER*/

@keyframes hero-text-gradient {
  0% {
    background-color: var(--bg-custom);
    background: linear-gradient(
      to left,
      var(--bg-custom),
      rgba(39, 39, 39, 0.3) 5%,
      rgba(0, 0, 0, 0) 96%
    );
  }
  10% {
    background-color: var(--bg-custom);
    background: linear-gradient(
      to left,
      var(--bg-custom),
      rgba(39, 39, 39, 0.3) 10%,
      rgba(0, 0, 0, 0) 96%
    );
  }
  25% {
    background-color: var(--bg-custom);
    background: linear-gradient(
      to left,
      var(--bg-custom),
      rgba(39, 39, 39, 0.3) 20%,
      rgba(0, 0, 0, 0) 96%
    );
  }
  50% {
    background-color: var(--bg-custom);
    background: linear-gradient(
      to left,
      var(--bg-custom),
      rgba(39, 39, 39, 0.3) 40%,
      rgba(0, 0, 0, 0) 96%
    );
  }
  75% {
    background-color: var(--bg-custom);
    background: linear-gradient(
      to left,
      var(--bg-custom),
      rgba(39, 39, 39, 0.3) 60%,
      rgba(0, 0, 0, 0) 96%
    );
  }
  100% {
    background-color: var(--bg-custom);
    background: linear-gradient(
      to left,
      var(--bg-custom),
      rgba(39, 39, 39, 0.3) 80%,
      rgba(0, 0, 0, 0) 96%
    );
  }
}
