@import "variables";

.custom-btn {
  color: var(--text-white);

  font-family: $font-standard;
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;

  transition: all 0.3s linear;

  &:hover,
  &:active {
    color: var(--text-white);
    animation: btn-hover 0.8s linear normal forwards;
  }

  &:focus {
    color: var(--text-white);
    box-shadow: none;
  }

  &.active:hover {
    color: var(--text-white);
  }
}

/*ANIMATIONS ON BTN HOVER*/

@keyframes btn-hover {
  0% {
    color: var(--text-white);
    border-bottom: 1.5px solid var(--accent-custom);
  }
  25% {
    border-right: 1.5px solid var(--accent-custom);
  }
  50% {
    border-top: 1.5px solid var(--accent-custom);
  }
  75% {
    border-left: 1.5px solid var(--accent-custom);
  }
  100% {
    box-shadow: 0 0 50px var(--accent-custom);
    background-color: var(--accent-custom);
  }
}
