/*FONT VARIABLES*/

$font-standard: "Lato", sans-serif;
$font-decorative: "Cormorant Upright", serif;

/*COLOR PALETTE VARIABLES*/
// For the color palette I chose to use the standard CSS variables in order to dynamically
//change theme via Javascript

:root {
  --bg-dark: rgba(2, 2, 3, 1);
  --bg-custom: rgba(69, 17, 72, 1);
  --accent-custom: rgba(231, 59, 239, 1);
  --light-custom: rgba(239, 233, 254, 0.4);

  --text-white: rgba(240, 248, 255, 1);
  --text-custom: rgba(240, 248, 255, 1);
}
