@import "variables";
@import "utilities";

@import "navbar";
@import "buttons";
@import "about-me";
@import "skills";
@import "projects";
@import "contacts";

/*GLOBAL STYLES*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: $font-standard;
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
  line-height: 2.1rem;
  overflow-x: hidden;

  @include lg {
    overflow-y: auto !important;
  }
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1 {
  font-family: $font-decorative;
  font-size: 2.8rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
  position: relative;
}

.underline-anim {
  position: absolute;
  background-color: var(--accent-custom);
  bottom: -0.5rem;
  left: 0;
  width: 10%;
  height: 0.1rem;
  border-radius: 5px;
}

/*BLACK BG SECTIONS*/

.black-section {
  min-height: 100vh;
  background-color: var(--bg-dark);
  position: relative;

  p {
    color: var(--text-custom);
  }
}

/*CUSTOM COLOR BG SECTIONS*/

.custom-color-section-1 {
  min-height: 100vh;
  padding: 8rem 5rem 1rem;
  background: var(--accent-custom);
  background: linear-gradient(
    240deg,
    var(--accent-custom),
    var(--text-custom) 20%
  );

  h1 {
    color: var(--bg-custom);
  }
}

.custom-color-section-2 {
  @extend .custom-color-section-1;
  background: linear-gradient(
    60deg,
    var(--accent-custom),
    var(--text-custom) 20%
  );
  padding-bottom: 7rem;
}

/*HERO TEXT H1 UNDERLINE GROWTH ANIMATION */

@keyframes h1-underline-growth {
  0% {
    width: 15%;
  }
  10% {
  }
  25% {
    width: 20%;
  }
  30% {
  }
  50% {
    width: 30%;
  }
  60% {
    width: 40%;
  }
  75% {
    width: 60%;
  }
  90% {
    width: 80%;
  }
  100% {
    width: 100%;
  }
}
